.my-navbar {
  background-color: mediumslateblue;
}
.my-navbar * {
  color: white;
}

.my-dropitems * {
  color: #000;
}

.form-control {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.my-bg-light {
  background-color: #f1f1ec;
}

.my-progress-bar {
  height: 3px;
}
.my-progress-bar-table {
  margin-top: 10px;
  height: 8px;
}

.my-task-list {
  max-height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.my-task-list::-webkit-scrollbar {
  display: none;
}
.my-link,
.my-link:hover {
  text-decoration: none;
  color: #000;
}
.my-comment {
  max-width: max-content;
  background-color: #f1f1ec;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.my-comment-list{
  max-height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.my-comment-list::-webkit-scrollbar {
  display: none;
}
.my-breadcrumb * {
  text-decoration: none;
}

.my-toast {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 11;
}

.react-bootstrap-table table {
  table-layout: auto;
}
