.my-navbar-wrapper {
  background-color: mediumslateblue;
}
.my-navbar * {
  color: white;
}
.my-navbar *:hover,
.my-navbar *:focus {
  color: white;
}
.navbar-toggler {
  border-color: white;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.my-nav-dropitems {
  left: -120px !important;
}
.drop-link * {
  color: #000 !important;
  text-decoration: none;
}
.drop-link *:focus,
.drop-link *:active {
  text-decoration: none;
}
.filter-input {
  width: 11em;
  cursor: pointer;
}

.bg-circle {
  cursor: pointer;
  height : 42px;
  width : 42px;
  line-height: 42px;
  text-align: center;
  background-color: rgba(221, 221, 221, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.bg-circle:focus {
  background-color: #ddd !important;
}
.bg-circle:hover {
  background-color: #ddd !important;
}

.lb-pj-list {
  list-style-type: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow-y: scroll;
  max-height: 70vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.lb-pj-list::-webkit-scrollbar {
  display: none;
}
.lb-pj-list-item {
  box-shadow: 1px 1px 10px 5px #ddd;
}
/*

.my-dropitems {
  position : absolute;
  top: 10px !important;
  right: 200px !important;
}

.my-dropitems * {
  color: #000;
  text-decoration: none;
} */
.my-dropitems *:hover {
  color: #000;
  background-color: #ddd;
}

.form-control {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.my-bg-light {
  background-color: #f1f1ec;
}

.my-progress-bar {
  height: 3px;
}
.my-progress-bar-table {
  margin-top: 10px;
  height: 8px;
}

.my-task-list {
  margin-top: 5px;
  max-height: 60vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.my-task-list::-webkit-scrollbar {
  display: none;
}
.my-link,
.my-link:hover {
  text-decoration: none;
  color: #000;
}
.my-comment {
  max-width: max-content;
  background-color: #f1f1ec;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.my-comment-list {
  max-height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.my-comment-list::-webkit-scrollbar {
  display: none;
}
.my-breadcrumb * {
  text-decoration: none;
}

.my-toast {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 11;
}

.react-bootstrap-table table {
  table-layout: auto;
}

.form-control,
.form-select {
  box-shadow: none !important;
  outline: none !important;
}

@media only screen and (max-width: 767px) {
  .my-nav-dropitems {
    left: 0px !important;
  }
  .drop-options {
    width: fit-content;
  }
}
